.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.container {
	max-width: 600px;
	margin-top: 30px;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.glyphicon:hover {
	cursor: pointer;
}

.not-active {
	color: #ccc;
}

.profile-avatar {
    width: 50px;
}